{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires
{% endblock %}

{% block main %}
	<div class="table-responsive containerIndex">
		<div class="divContainerTable">
			<a href="{{ path('student_add') }}" class="btn btn-primary btnAjout">Ajouter un stagiaire</a>
			<table class="table">
				<thead class="thead">
					<tr>
						<th>Nom</th>
						<th>Date de naissance</th>
						<th>Ville</th>
						<th>Adresse email</th>
						{% if is_granted('ROLE_USER') %}
							<th>Détails</th>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
							<th>Modifier</th>
						{% endif %}
						{% if is_granted('ROLE_SUPER_ADMIN') %}
							<th>Supprimer</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for student in students %}
						<tr>
							<td>{{ student.firstName ~ ' ' ~ student.LastName }}</td>
							<td>{{ student.birthDay | date('d/m/Y') }}</td>
							<td>{{ student.city }}</td>
							<td>{{ student.email }}</td>
							{% if is_granted('ROLE_USER') %}
								<td>
									<a href="{{ path('student_show', {'id':student.id}) }}">Détails</a>
								</td>
							{% endif %}
							{% if is_granted('ROLE_ADMIN') %}
								<td>
									<a href="{{ path('student_edit', {'id':student.id}) }}" class="btn btn-info">Modifier</a>
								</td>
							{% endif %}
							{% if is_granted('ROLE_SUPER_ADMIN') %}
								<td>
									<a href="{{ path('student_delete', {'id':student.id}) }}" class="btn btn-danger">Supprimer</a>
								</td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</tbody>
		</table>
	</div>

</div>{% endblock %}
