{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block main %}
	<div>
		<p>
			<a href="{{ path('listAllStudents') }}">Liste des stagiaires</a>
		</p>
		<p>
			<a href="{{ path('listAllCategories') }}">Liste des catégories</a>
		</p>
		<p>
			<a href="{{ path('listAllTrainings') }}">Liste des formations</a>
		</p>
		<p>
			<a href="{{ path('listAllSessions') }}">Liste des sessions</a>
		</p>
		<p>
			<a href="{{ path('listAllModules') }}">Liste des modules</a>
		</p>
	</div>

	{# <div id="homeDiv">
		<form action="#" method="POST">
			<input type="text" placeholder="Rechercher une formation...">
			<input type="submit" value="Rechercher">
		</form>
		<p>Prochaine session de formation : INTITULE DE FORMATION + DATE</p>
	</div> #}
{% endblock %}
