{% extends "base.html.twig" %}

{% set text = (editMode) ? 'Modifier' : 'Ajouter' %}

{% block title %}
{{ text }} categorie
{% endblock %}

{% block main %}
<a href="{{ path('listAllCategories') }}">Retour<a>
    
<h1>{{ text }} categorie <span>{{ category }}</span></h1>
{{ form(formCategory) }}

{% endblock %}