{% extends 'base.html.twig' %}

{% block title %}Panneau d'administrateur
{% endblock %}

{% block main %}
	<div class="div-panel-admin">
		{% if is_granted('ROLE_ADMIN') %}
			<p>
				<a href="{{ path('listAllStudents') }}" class="btn btn-secondary">Liste des stagiaires</a>
			</p>
			<p>
				<a href="{{ path('student_add') }}" class="btn btn-secondary">Ajouter un stagiaire</a>
			</p>
		{% endif %}
		{% if is_granted('ROLE_SUPER_ADMIN') %}
			<p>
				<a href="{{ path('listAllCategories') }}" class="btn btn-secondary">Liste des catégories</a>
			</p>
			<p>
				<a href="{{ path('listAllModules') }}" class="btn btn-secondary">Liste des modules</a>
			</p>
			<p>
				<a href="{{ path('listAllUsers') }}" class="btn btn-secondary">Liste des utilisateurs</a>
			</p>
			<p>
				<a href="{{ path('user_register') }}" class="btn btn-secondary">Ajouter un utilisateur</a>
			</p>
			<p>
				<a href="{{ path('app_forgotten_password') }}" class="btn btn-secondary">Test envoi de mail</a>
			</p>
		{% endif %}
	</div>
{% endblock %}
