{% extends 'base.html.twig' %}

{% block title %}Panneau d'administrateur
{% endblock %}

{% block main %}
	<div>
		{% if is_granted('ROLE_ADMIN') %}
			<p>
				<a href="{{ path('listAllStudents') }}">Liste des stagiaires</a>
			</p>
			<p>
				<a href="{{ path('student_add') }}">Ajouter un stagiaire</a>
			</p>
		{% endif %}
		{% if is_granted('ROLE_SUPER_ADMIN') %}
			<p>
				<a href="{{ path('listAllCategories') }}">Liste des catégories</a>
			</p>
			<p>
				<a href="{{ path('listAllModules') }}">Liste des modules</a>
			</p>
			<p>
				<a href="{{ path('listAllUsers') }}">Liste des utilisateurs</a>
			</p>
			<p>
				<a href="{{ path('user_register') }}">Ajouter un utilisateur</a>
			</p>
			<p>
				<a href="{{ path('app_forgotten_password') }}">Test envoi de mail</a>
			</p>
		{% endif %}
	</div>
{% endblock %}
