{% extends 'base.html.twig' %}

{% block title %}Panneau d'administrateur
{% endblock %}

{% block main %}
	<div>
		<p>
			<a href="{{ path('listAllStudents') }}">Liste des stagiaires</a>
		</p>
		<p>
			<a href="{{ path('listAllCategories') }}">Liste des catégories</a>
		</p>
		<p>
			<a href="{{ path('listAllTrainings') }}">Liste des formations</a>
		</p>
		<p>
			<a href="{{ path('listAllSessions') }}">Liste des sessions</a>
		</p>
		<p>
			<a href="{{ path('listAllModules') }}">Liste des modules</a>
		</p>
		<p>
			<a href="{{ path('listAllUsers') }}">Liste des utilisateurs</a>
		</p>
		<p>
			<a href="{{ path('listAllModules') }}">Ajouter un utilisateur</a>
		</p>
	</div>
{% endblock %}
