{% extends 'base.html.twig' %}

{% block title %}Liste des sessions
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
{% endblock %}

{% block main %}
	<div class="table-responsive containerIndex">
		<div class="divContainerTable">
			{% if is_granted('ROLE_USER') %}
				<a href="{{ path('session_add') }}" class="btn btn-primary btnAjout">Ajouter une session</a>
			{% endif %}
			<table class="table">
				<thead class="thead">
					<tr>
						<th>Intitulé</th>
						<th>Date de début</th>
						<th>Date de fin</th>
						<th>Durée (en mois)</th>
						<th>Nombre de places</th>
						<th>Places restantes</th>
						<th>Liste stagiaire(s)</th>
						<th>Planning</th>
						{% if is_granted('ROLE_SUPER_ADMIN') %}
							<th>Modifier</th>
							<th>Supprimer</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for session in sessions %}
						<tr>
							<td>{{ session.training.name }}</td>
							<td>{{ session.dateStart | date('d/m/Y') }}</td>
							<td>{{ session.dateEnd | date('d/m/Y') }}</td>
							<td>{{ session.getDuration }}</td>
							<td>{{ session.nbSpace }}</td>
							<td>{{ session.nbSpace - session.students|length }}</td>
							<td>
								<a href="{{ path('session_show', {'id':session.id}) }}" class="btn btn-secondary btn-sm">Détails</a>
							</td>
							<td>
								<a href="{{ path('session_planning', {'id':session.id}) }}" class="btn btn-secondary btn-sm">Planning</a>
							</td>
							{% if is_granted('ROLE_SUPER_ADMIN') %}
								<td>
									<a href="{{ path('session_edit', {'id':session.id}) }}" class="btn btn-info">Modifier</a>
								</td>
								<td>
									<a href="{{ path('session_delete', {'id':session.id}) }}" class="btn btn-danger">Supprimer</a>
								</td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</div>

	<div class="containerCalendarPlanning">
		<div id="calendar-holder"></div>
	</div>
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
	<script src="{{ asset('js/calendar.js') }}"></script>
{% endblock %}
