{% extends 'base.html.twig' %}

{% block title %}Liste des formations
{% endblock %}

{% block main %}
	<div class="table-responsive containerIndex">
		<div class="divContainerTable">
			<a href="{{ path('training_add') }}" class="btn btn-primary btnAjout">Ajouter une formation</a>
			<table class="table">
				<thead class="thead">
					<tr>
						<th>Intitulé de la formation</th>
						<th>Prochaine(s) session(s)</th>
						<th>Modifier</th>
						<th>Supprimer</th>
					</tr>
				</thead>
				<tbody>
					{% for training in trainings %}
						<tr>
							<td>{{ training.name }}</td>
							<td>
								<a href="{{ path('training_show', {'id':training.id}) }}">Voir les prochaines sessions</a>
							</td>
							<td>
								<a href="{{ path('training_edit', {'id':training.id}) }}" class="btn btn-info">Modifier</a>
							</td>
							<td>
								<a href="{{ path('training_delete', {'id':training.id}) }}" class="btn btn-danger">Supprimer</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
